<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table>
                <h3>いいね（ブックマーク）</h3>
                <thead>
                    <tr>
                        <th>レシピ名</th>
                        <th>投稿者名</th>
                    </tr>
                </thead>
                <tbody>
                    <% @bookmarks.each do |bookmark| %>
                    <tr>
                        <td>
                            <%= link_to recipe_path(bookmark.recipe) do %>
                            <%= bookmark.recipe.recipe_name %>
                            <% end %>
                        </td>
                        <td>
                            <%= bookmark.customer.screen_name %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
