<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <h2>マイページ</h2>
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                       <td><%= link_to "自分の投稿一覧",customers_path %></td>
                    </tr>
                    <tr>
                       <td><%= link_to "いいね一覧",customers_index_bookmark_path(current_customer) %></td>
                    </tr>
                    <tr>
                        <td><%= link_to "会員情報編集",edit_customer_path %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
