<table>
    <thead></thead>
    <tbody>
        <th>
           <%= link_to "自分の投稿一覧",customers_path %>
        </th>
        <th>
           <%= link_to "いいね一覧",customers_index_bookmark_path(current_customer) %>
        </th>
        <th>
            <%= link_to "会員情報編集",edit_customer_path %>
        </th>
    </tbody>
</table>